Source: droidian-meta
Maintainer: Eugenio Paolantonio (g7) <eugenio@droidian.org>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian/droidian-meta
Vcs-Git: https://github.com/droidian/droidian-meta.git

Package: droidian-base
Architecture: all
Depends: ${misc:Depends},
         alsa-utils,
         apt-utils,
         ca-certificates,
         chrony,
         console-data,
         console-setup,
         f2fs-tools,
         file,
         kbd,
         locales,
         locales-all,
         man-db,
         libcanberra-pulse,
         libnss-myhostname,
         libnss-systemd,
         libpam-cap,
         bash-completion,
         gawk,
         inxi,
         nano,
         psmisc,
         psutils,
         sudo,
         wget,
         unzip,
         vim,
         xz-utils,
         bluetooth,
         crda,
         dnsmasq-base,
         iw,
         network-manager,
         pulseaudio-module-bluetooth,
         net-tools,
         rfkill,
         wireless-tools,
         wpasupplicant,
         droidian-quirks-journald-standard | droidian-quirks-journald-development,
Breaks: hybris-mobian-base (<< 8+git20210325000000)
Replaces: hybris-mobian-base (<< 8+git20210325000000)
Description: Droidian metapackages - base
 This metapackage depends on a bunch of essential
 packages for the Droidian installation.

Package: droidian-minimal
Architecture: all
Depends: droidian-common-minimal, droidian-phosh-minimal
Description: Droidian metapackages - minimal phosh environment -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: droidian-common-minimal
Architecture: all
Depends: ${misc:Depends},
         droidian-base (= ${binary:Version}),
         at-spi2-core,
         flatpak,
         fonts-noto,
         fonts-noto-cjk,
         fonts-noto-color-emoji,
         fonts-noto-mono,
         fonts-noto-ui-core,
         wayland-protocols,
         xdg-desktop-portal-gtk,
         xdg-user-dirs,
         libcanberra-gtk3-module,
         cpufrequtils,
         lm-sensors,
Breaks: droidian-minimal (<< 11+git20210410000000), hybris-mobian-minimal (<< 8+git20210325000000)
Replaces: droidian-minimal (<< 11+git20210410000000),  hybris-mobian-minimal (<< 8+git20210325000000)
Description: Droidian metapackages - minimal environment for all DEs
 This metapackage depends on a bunch of essential
 packages for the droidian installation.

Package: droidian-phosh-minimal
Architecture: all
Depends: ${misc:Depends},
         droidian-base (= ${binary:Version}),
         droidian-common-minimal,
         phosh-core,
         gnome-initial-setup,
         gnome-themes-extra-data,
         network-manager-gnome,
Breaks: droidian-minimal (<< 11+git20210410000000), hybris-mobian-minimal (<< 8+git20210325000000)
Replaces: droidian-minimal (<< 11+git20210410000000),  hybris-mobian-minimal (<< 8+git20210325000000)
Description: Droidian metapackages - minimal phosh environment
 This metapackage depends on a bunch of essential
 packages for the droidian installation with
 the phosh mobile shell.

Package: droidian-phone
Architecture: all
Depends: droidian-common-phone, droidian-phosh-phone
Description: Droidian metapackages - addons for mobile phones -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: droidian-common-phone
Architecture: all
Depends: ${misc:Depends},
         droidian-common-minimal (= ${binary:Version}),
         mobile-broadband-provider-info,
         device-chassis-handset,
Breaks: droidian-phone (<< 11+git20210410000000), hybris-mobian-phone (<< 8+git20210325000000)
Replaces: droidian-phone (<< 11+git20210410000000), hybris-mobian-phone (<< 8+git20210325000000)
Description: Droidian metapackages - addons for mobile phones
 This metapackage depends on a bunch of packages that
 make phone-related stuff work.

Package: droidian-phosh-phone
Architecture: all
Depends: ${misc:Depends},
         droidian-phosh-minimal (= ${binary:Version}),
         phosh-phone,
Breaks: droidian-phone (<< 11+git20210410000000), hybris-mobian-phone (<< 8+git20210325000000)
Replaces: droidian-phone (<< 11+git20210410000000), hybris-mobian-phone (<< 8+git20210325000000)
Description: Droidian metapackages - addons for mobile phones
 This metapackage depends on a bunch of packages that
 make phone-related stuff work.

Package: droidian-full
Architecture: all
Depends: droidian-common-full, droidian-phosh-full
Description: Droidian metapackages - full phosh environment -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: droidian-common-full
Architecture: all
Depends: ${misc:Depends},
         droidian-common-minimal (= ${binary:Version}),
Breaks: droidian-full (<< 11+git20210410000000), hybris-mobian-full (<< 8+git20210325000000)
Replaces: droidian-full (<< 11+git20210410000000), hybris-mobian-full (<< 8+git20210325000000)
Description: Droidian metapackages - full common environment
 This metapackage depends on a bunch of packages that make
 Droidian more complete.

Package: droidian-phosh-full
Architecture: all
Depends: ${misc:Depends},
         droidian-phosh-minimal (= ${binary:Version}),
         phosh-full,
         evince,
         geary,
         file-roller,
         gedit,
         gnome-calculator,
         gnome-calendar,
         gnome-maps,
         gnome-software,
         gnome-software-plugin-flatpak,
         gnome-usage,
         gnome-weather,
         nemo,
         nemo-fileroller,
         epiphany-browser,
         pinhole,
         gthd,
         firefox-esr,
         firefox-esr-mobile-config,
Breaks: droidian-full (<< 11+git20210410000000), hybris-mobian-full (<< 8+git20210325000000)
Replaces: droidian-full (<< 11+git20210410000000), hybris-mobian-full (<< 8+git20210325000000)
Description: Droidian metapackages - full common environment
 This metapackage depends on a bunch of packages that make
 Droidian with phosh more complete.

Package: drodian-devtools
Architecture: all
Depends: droidian-common-devtools, droidian-phosh-devtools
Description: Droidian metapackages - devtools -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: droidian-common-devtools
Architecture: all
Depends: ${misc:Depends},
         openssh-server,
         pciutils,
         git,
         ifupdown,
         isc-dhcp-client,
         strace,
         systemd-coredump,
         aptitude,
         droidian-quirks-journald-development,
Breaks: droidian-devtools (<< 11+git20210410000000), hybris-mobian-devtools (<< 8+git20210325000000)
Replaces: droidian-devtools (<< 11+git20210410000000), hybris-mobian-devtools (<< 8+git20210325000000)
Description: Droidian metapackages - devtools
 This metapackage depends on a bunch of packages that
 aid development on Droidian.

Package: droidian-phosh-devtools
Architecture: all
Depends: ${misc:Depends},
         kgx,
Breaks: droidian-devtools (<< 11+git20210410000000), hybris-mobian-devtools (<< 8+git20210325000000)
Replaces: droidian-devtools (<< 11+git20210410000000), hybris-mobian-devtools (<< 8+git20210325000000)
Description: Droidian metapackages - devtools
 This metapackage depends on a bunch of packages that
 aid development on Droidian with phosh.

Package: hybris-mobian-base
Architecture: all
Depends: droidian-base
Description: Droidian metapackages - base -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-minimal
Architecture: all
Depends: droidian-common-minimal, droidian-phosh-minimal
Description: Droidian metapackages - minimal phosh environment -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-phone
Architecture: all
Depends: droidian-common-phone, droidian-phosh-phone
Description: Droidian metapackages - addons for mobile phones -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-full
Architecture: all
Depends: droidian-common-full, droidian-phosh-full
Description: Droidian metapackages - full phosh environment -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-devtools
Architecture: all
Depends: droidian-common-devtools, droidian-phosh-devtools
Description: Droidian metapackages - devtools -- transitional package
 This package is a transitional package. Feel free to
 remove it.
