Source: droidian-meta
Maintainer: Eugenio Paolantonio (g7) <eugenio@droidian.org>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian/droidian-meta
Vcs-Git: https://github.com/droidian/droidian-meta.git

Package: droidian-base
Architecture: all
Depends: ${misc:Depends},
         alsa-utils,
         apt-utils,
         ca-certificates,
         systemd-timesyncd,
         console-data,
         console-setup,
         f2fs-tools,
         lvm2,
         cryptsetup,
         droidian-encryption-service,
         file,
         kbd,
         locales,
         locales-all,
         libcanberra-pulse,
         libnss-myhostname,
         libnss-systemd,
         libpam-cap,
         bash-completion,
         gawk,
         nano,
         sudo,
         wget,
         unzip,
         xz-utils,
         bluetooth,
         dnsmasq-base,
         iw,
         network-manager,
         pulseaudio-module-bluetooth,
         net-tools,
         iputils-ping,
         rfkill,
         wireless-tools,
         wpasupplicant,
         runonce,
         systemd-resolved,
         droidian-quirks-hostname,
         droidian-quirks-journald-standard | droidian-quirks-journald-development,
         droidian-branding,
         droidian-apt-config,
         droidian-archive-keyring,
         mobian-droidian-archive-keyring,
Conflicts: droidian-upgrade-bookworm
Description: Droidian metapackages - base
 This metapackage depends on a bunch of essential
 packages for the Droidian installation.

Package: droidian-phosh-minimal
Architecture: all
Depends: ${misc:Depends},
         droidian-base (= ${binary:Version}),
         droidian-phosh-default-settings,
         at-spi2-core,
         flatpak,
         fonts-noto,
         fonts-noto-cjk,
         fonts-noto-color-emoji,
         fonts-noto-mono,
         fonts-noto-ui-core,
         wayland-protocols,
         xdg-desktop-portal-gtk,
         libcanberra-gtk3-module,
         plymouth,
         plymouth-theme-droidian,
         phosh-core,
         gnome-accessibility-themes,
         gnome-initial-setup,
         gnome-themes-extra-data,
         gnome-screenshot,
         network-manager-gnome,
         cpufrequtils,
         lm-sensors,
         droidian-settings,
         droidian-quirks-squeekboard,
         droidian-quirks-wayland,
         droidian-quirks-initial-setup,
Breaks: droidian-minimal (<< 22+git20211206000000)
Replaces: droidian-minimal (<< 22+git20211206000000)
Description: Droidian metapackages - minimal phosh environment
 This metapackage depends on a bunch of essential
 packages for the droidian installation with
 the phosh mobile shell.

Package: droidian-phosh-phone
Architecture: all
Depends: ${misc:Depends},
         droidian-phosh-minimal (= ${binary:Version}),
         phosh-phone,
         mobile-broadband-provider-info,
         device-chassis-handset,
Breaks: droidian-phone (<< 22+git20211206000000)
Replaces: droidian-phone (<< 22+git20211206000000)
Description: Droidian metapackages - addons for mobile phones
 This metapackage depends on a bunch of packages that
 make phone-related stuff work.

Package: droidian-phosh-full
Architecture: all
Depends: ${misc:Depends},
         droidian-phosh-minimal (= ${binary:Version}),
         phosh-full,
         evince,
         file-roller,
         gedit,
         gnome-calculator,
         gnome-calendar,
         gnome-maps,
         gnome-software,
         gnome-software-plugin-flatpak,
         gnome-usage,
         gnome-weather,
         phosh-plugins,
         phosh-mobile-settings,
         portfolio-filemanager,
         epiphany-browser,
         pinhole,
         eog,
         gthd,
         firefox-esr,
         firefox-esr-mobile-config,
Breaks: droidian-full (<< 22+git20211206000000)
Replaces: droidian-full (<< 22+git20211206000000)
Description: Droidian metapackages - full phosh environment
 This metapackage depends on a bunch of packages that make
 the phosh mobile shell more complete.

Package: droidian-devtools
Architecture: all
Depends: ${misc:Depends},
         openssh-server,
         pciutils,
         git,
         gnome-console,
         ifupdown,
         isc-dhcp-client,
         strace,
         systemd-coredump,
         aptitude,
         droidian-quirks-journald-development,
         psmisc,
         psutils,
         inxi,
Description: Droidian metapackages - devtools
 This metapackage depends on a bunch of packages that
 aid development.

Package: droidian-minimal
Architecture: all
Depends: droidian-phosh-minimal
Description: Droidian metapackages - minimal phosh environment -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: droidian-phone
Architecture: all
Depends: droidian-phosh-phone
Description: Droidian metapackages - addons for mobile phones -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: droidian-full
Architecture: all
Depends: droidian-phosh-full
Description: Droidian metapackages - full phosh environment -- transitional package
 This package is a transitional package. Feel free to
 remove it.
