Source: droidian-meta
Maintainer: Eugenio Paolantonio (g7) <eugenio@droidian.org>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian/droidian-meta
Vcs-Git: https://github.com/droidian/droidian-meta.git

Package: droidian-base
Architecture: all
Depends: ${misc:Depends},
         mobian-base,
         droidian-quirks-journald-standard | droidian-quirks-journald-development,
Breaks: hybris-mobian-base (<< 8+git20210325000000)
Replaces: hybris-mobian-base (<< 8+git20210325000000)
Description: Droidian metapackages - base
 This metapackage depends on a bunch of essential
 packages for the Droidian installation.

Package: droidian-minimal
Architecture: all
Depends: ${misc:Depends},
         droidian-base (= ${binary:Version}),
         at-spi2-core,
         flatpak,
         gvfs-backends,
         fonts-cantarell,
         fonts-noto,
         fonts-noto-cjk,
         fonts-noto-color-emoji,
         fonts-noto-mono,
         fonts-noto-ui-core,
         wayland-protocols,
         xdg-desktop-portal-gtk,
         xdg-user-dirs,
         libcanberra-gtk3-module,
         libpam-gnome-keyring,
         feedbackd,
         gnome-bluetooth,
         gnome-control-center,
         gnome-initial-setup,
         gnome-online-accounts,
         gnome-session,
         gnome-settings-daemon,
         gnome-themes-extra-data,
         mobian-tweaks,
         network-manager-gnome,
         phoc,
         phosh,
         phosh-mobile-tweaks,
         squeekboard,
         cpufrequtils,
         lm-sensors,
Breaks: hybris-mobian-minimal (<< 8+git20210325000000)
Replaces: hybris-mobian-minimal (<< 8+git20210325000000)
Description: Droidian metapackages - minimal phosh environment
 This metapackage depends on a bunch of essential
 packages for the droidian installation with
 the phosh mobile shell.

Package: droidian-phone
Architecture: all
Depends: ${misc:Depends},
         droidian-minimal (= ${binary:Version}),
         gnome-calls,
         chatty,
         mobile-broadband-provider-info,
         device-chassis-handset,
Breaks: hybris-mobian-phone (<< 8+git20210325000000)
Replaces: hybris-mobian-phone (<< 8+git20210325000000)
Description: Droidian metapackages - addons for mobile phones
 This metapackage depends on a bunch of packages that
 make phone-related stuff work.

Package: droidian-full
Architecture: all
Depends: ${misc:Depends},
         droidian-minimal (= ${binary:Version}),
         evince,
         geary,
         file-roller,
         gedit,
         gnome-calculator,
         gnome-calendar,
         gnome-contacts,
         gnome-clocks,
         gnome-maps,
         gnome-software,
         gnome-software-plugin-flatpak,
         gnome-usage,
         gnome-weather,
         nemo,
         nemo-fileroller,
         epiphany-browser,
         pinhole,
         gthd,
         firefox-esr,
         firefox-esr-mobile-config,
Breaks: hybris-mobian-full (<< 8+git20210325000000)
Replaces: hybris-mobian-full (<< 8+git20210325000000)
Description: Droidian metapackages - full phosh environment
 This metapackage depends on a bunch of packages that make
 the phosh mobile shell more complete.

Package: droidian-devtools
Architecture: all
Depends: ${misc:Depends},
         openssh-server,
         pciutils,
         git,
         kgx,
         ifupdown,
         isc-dhcp-client,
         strace,
         systemd-coredump,
         droidian-quirks-journald-development,
Breaks: hybris-mobian-devtools (<< 8+git20210325000000)
Replaces: hybris-mobian-devtools (<< 8+git20210325000000)
Description: Droidian metapackages - devtools
 This metapackage depends on a bunch of packages that
 aid development.

Package: hybris-mobian-base
Architecture: all
Depends: droidian-base
Description: Droidian metapackages - base -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-minimal
Architecture: all
Depends: droidian-minimal
Description: Droidian metapackages - minimal phosh environment -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-phone
Architecture: all
Depends: droidian-phone
Description: Droidian metapackages - addons for mobile phones -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-full
Architecture: all
Depends: droidian-full
Description: Droidian metapackages - full phosh environment -- transitional package
 This package is a transitional package. Feel free to
 remove it.

Package: hybris-mobian-devtools
Architecture: all
Depends: droidian-devtools
Description: Droidian metapackages - devtools -- transitional package
 This package is a transitional package. Feel free to
 remove it.
